* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    height: 100vh;
}

body {
    background-image: linear-gradient(to top left, #28b487, #7dd56f);
}

button {
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin: 3.5rem;
}

.show-modal {
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: white;
}

.show-modal:hover {
    background-color: aliceblue;
}

h1 {
    margin-bottom: 1.7rem;
    font-size: 1.6rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

/* HIDDEN MODAL */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    width: 43rem;
    border-radius: 0.5rem;
    z-index: 1;
}

.close-modal {
    align-self: flex-end;
    font-size: 4rem;
    background: none;
    border: none;
    padding: 0 1rem;
    padding-top: 1rem;
    line-height: 3rem;
    margin-bottom: -0.5rem;
}

.modal-content {
    padding: 3.5rem;
    padding-top: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.6);
}

.hidden {
    display: none;
}
