@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
    text-transform: uppercase;
    font-size: 1.7rem;
}

main {
    position: relative;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
}

/* SECTION 1 AND 2 BOXE ALIGN AND STYLE */
.game-area {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.35);
    max-width: 60rem;
    height: 38rem;
    border-radius: 0.8rem;
}

.all-player {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
}

.name {
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
    font-weight: 400;
}

.total-score {
    margin-bottom: 8rem;
    color: #c7365f;
    font-size: 5rem;
    font-weight: 500;
}

.current-score {
    background-color: #c7365f;
    text-align: center;
    padding: 1rem 4rem;
    border-radius: 0.8rem;
    color: white;
}

.current-label {
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 0.5rem;
}

.score {
    font-size: 2.5rem;
}

.active-player {
    background-color: rgba(255, 255, 255, 0.4);
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 3rem;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: inherit;
    text-transform: inherit;
    font-size: 1.1rem;
    backdrop-filter: blur(1px);
    word-spacing: 0.2rem;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.btn:active {
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
    transform: translate(-50%, 5%);
    transition: all 0.2s;
}

.new-game {
    top: 8%;
}

.roll-dice {
    top: 65%;
}

.hold-score {
    top: 77%;
}

.dice {
    position: absolute;
    top: 32%;
    width: 6rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.hidden {
    /* display: none; */
}
